@use "variables" as *;
@use "animations" as *;

* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    border: 0;
}

body {
    font-family: "Inter", sans-serif;
    -webkit-font-smoothing: antialiased;
    @extend %fondo-animado;
}

h1, .main-headline { font-size: 2.5em; font-weight: 700; color: $color-texto;}
h2 { font-size: 2em; font-weight: 700; color: $color-texto;}
h3 { font-size: 1.6em; font-weight: 700; color: $color-texto;}
h4 { font-size: 1.4em; font-weight: 700; color: $color-texto;}
p, span, li  { font-size: 1.2em; font-weight: 400; color: $color-texto;}

.titulo-secundario { 
    text-align: center; 
    margin: 4rem 0; 
}

.texto_invert { 
    color: $color-texto-invert; 
}
