@use "variables" as *;

// Mixins y placeholders
@mixin transition($props, $time: .5s, $ease: ease) {
    transition: #{$props} #{$time} #{$ease};
}

@mixin focus-ring($color: $focus-glow) {
    box-shadow: 0 0 0 .25rem $color;
}

@mixin left-divider {
    padding: 0rem 1.5rem;
    border-inline: 1px solid $color-bordes;
}

@mixin card-base {
    border-radius: $radius-lg;
    overflow: hidden;
    padding: 1rem; 
    align-items: stretch; 
    background: rgba($gris-200,.3);
    box-shadow: $sombra-suave;
    backdrop-filter: blur(7.2px);
    -webkit-backdrop-filter: blur(7.2px);
}

@mixin btn-reset {
    background-color: transparent;
    border: none;
}

// Placeholder botones compartido
%btn-shared {
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
    padding: .5rem 2rem;
}
