// Variables
$color-principal: #b51fff;
$color-secundario: #18c435;
$color-texto: #ffffff;
$color-texto-secundario: #2b002c;
$color-texto-invert: #555555;
$color-bordes: #18c435;
$gris-100: #30034b;
$gris-200: #5b308d; // usado para todas las boxes
$gris-300: #d9d9d9;
$focus-glow: rgba(171, 31, 255, 0.39);

$radius-sm: 10px;
$radius-lg: 20px;
$sombra-suave: 0 4px 30px rgba(0, 0, 0, 0.1);
